
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap'); /* import font from google. google font -> seach font needed -> get font -> bag icon with selected fonts -> get embed code -> import -> copy link and also copy font family */


*{ /* universal selector - apply style to all elements on the page. */
    margin : 0; /* remove default outer spacing */
    padding: 0; /* remove default inner spacing */
    box-sizing : border-box; /* Changes the way width and heigth are calculated. By default width and height is applied to content and padding + border are added outside. With border box width/heigth include content+padding+border */
    text-decoration : none /* Removes underlines, overlines, strikethroughs from all text elements */
}

body{
    background-color: #e2e2e2;
    font-family: "Tilt Neon", sans-serif;
}

h1{
    font-size: 50px;
    font-weight: bold;
    padding: 16px;

}

.blogs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* repeat tells grid to repeat a column pattern, auto-fit automatically fits as many columns as possible in the available space, 
    minmax(300px, 1fr) [min - 300px, max - 1fr] => each column must be atleast 300px wide but can grow up to take remaining free space(1fr) Eg : container width 1200px => 4 columns of 300px will fit,
    container width of 800px fit 2 columns (each expand to 400px), container width 500px fit only 1 column , 1fr ensures that columns expand evenly to fill the row (remaining space added to all columns equally */
    gap: 1.5em;
    padding: 16px;

}

.blog{
    padding: 0.5em;
    box-shadow: 0 0 3px rgba(0,0,0,0.445); /* box-shadow: offset-x offset-y blur-radius color; =>  gives a faint border-like shadow */
    border-radius: 4px;
    transition: all 0.5s; /* makes style changes animate smoothly over 0.5s */
    display: grid;
    gap: 0.5em;
}
.blog:hover{
    box-shadow: 0 0 12px 1px rgba(0,0,0,0.445) /* offset-x => horizontal offset - 0 means no shift left or right, offset-y => vertical offset - 0 means no shift up or down, 10px blur radius (soft spread of shadow), semi-transparent black color */
}

.blog p{ /* Managing overflow */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog a{
    font-size: 12px;
    text-transform: capitalize; /* First letter of each word capitalized */
    text-decoration: underline;
    text-underline-offset: 3px; /* Adjusts how far the underline is placed below the text. Default underline is usually very close */
    color: rgb(192, 40, 40);
}

.blogDetail{
    padding : 16px;
}

.blogDetail p{
    font-size: 16px;
    padding: 16px;
}

.admin{
    padding: 1em;
}

.admin button{
    padding: 0.25em;
    border: none;
    background-color: rgb(0, 0, 0.455);
    color: white;
    border-radius: 4px;
}

.form-control{
    display: grid;
    
}